.wrapper
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          test-group
        %ul.main-header__left-box__menber-list
          Menber：
          %li.main-header__left-box__member-list__menber
            test-user
      %a
        .main-header__edit-btn
          Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__taker
            test-user
          %p.message__upper-info__date
            2019/02/13(WED)17:50:36
        %p.message__text
          こんにちは！
      .message
        .message__upper-info
          %p.message__upper-info__taker
            test-user
          %p.message__upper-info__date
            2019/02/13(WED)17:50:42
        %p.message__text
          さようなら！

    .form
      %form#new_message.new_message
        .input-box
          %input#message_content.input-box__text{placeholder: "type a message", name: "message[content]", type: "text"}
          %label.input-box__image
            %i.fa.fa-image
        %input.submit-btn{type: "submit", name: "commit", value: "Send"}

